@import "tailwindcss";

* {
  transition: background-color 0.8s ease, color 0.6s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 50s linear infinite;
}
